@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #828282;
}

#wrapper {
	margin: 0 10%;
}

#header {
	background: url(img/header.png);
	background-repeat: no-repeat;
	background-color: #333333;
	height: 40px;
	text-align: center;
}

#navbar, footer {
	overflow: hidden;
	background-color: #333333;
	color: #f2f2f2;
}

footer {
	height: 40px;
	padding: 0px 16px;
}

#navbar a {
	float: left;
	display: block;
	text-align: center;
	color: #f2f2f2;
	padding: 11px 16px;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #dddddd;
	color: black;
}

.row {
	min-height: calc(100vh - 120px);
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	background-color: #ffffff;
}

.column {
	float: left;
	padding: 10px;
}

.column.side {
	width: 24%; /* Last percent goes to ".verticalline"  */
}

.column.middle {
	width: 75%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column.side, .column.middle {
		width: 100%;
	}
	#wrapper {
		margin: 0;
	}
}

.verticalline {
	background-color: #333333;
	width: 1px;
	float: left;
}

#txt {
	font-size: 20px;
}

.linebreak {
	white-space: pre-line;
}

#tipsum {
	font-size: 20px;
}

#flagcontainer {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flag {
	height: 235px;
	border: 1px solid;
	margin: 2vh 2vh;
	border: 1px solid;
}

#flagtable table, th, td {
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
}

#flagtable table {
	width: 100%
}

#flagtable td {
	padding: 15px 5px;
	width: 50%
}